.site-footer
    display: none

.lead
    @extend .fs-5
    @extend .fw-300
    margin-top: $sp-4 !important

.source
    @extend .fs-3

a.image-link
    background-image: none

iframe, embed
    @extend .mt-4
    @extend .mb-4
